@use "../abstracts" as a;

.c-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    background-color: var(--color-orange);
    font-weight: bold;
    cursor: pointer;
    @include a.outline-offset;
    transition: opacity 200ms ease-in;

    @include a.reduced-motion;
    
    @include a.hover{
        opacity: .7;
    }

    @include a.forced-colors{
        background-color: currentColor;
    }

    &__icon{
        display: inline;
        margin-inline-end: 1rem;
        width: 1.15rem;
        height: 1.15rem;
        fill: var(--color-black);
    }
}