@mixin hover{
  @media (hover: hover) and (pointer: fine){
    &:hover{
      @content;
    }
  }
}

@mixin reduced-motion {
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

@mixin forced-colors{
  @media (forced-colors: active){
    @content;
  }
}

@mixin breakpoint($width){
  @media screen and (min-width: $width){
    @content;
  }
}

@mixin remove-number-spinners{
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  &[type=number] {
  -moz-appearance: textfield;
}
}

@mixin outline-offset{
  outline-offset: 0.325rem;
}